{% extends "DoctorDoctor/base.html" %}
{% load static %}
{% block title_page %}View Appointment{% endblock %}
{% block title %}View Appointment - DoctorDoctor{% endblock %}
{% block title_in_li %}View Appointment{% endblock %}


{% block css_section %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
{% endcomment %}
{% endblock %}


{% block inner_page %}
    <h1>Apointment</h1>
    Doctor: {{doctor}}<br>
    
    {% if approved_for %}
    Approved appointment date: <u><strong>{{approved_for}}</strong></u> at <u><strong>{{approved_time}}</strong></u><br>
    {% else %}
    day1: {{day1}}<br>
    day2: {{day2}}<br>
    day3: {{day3}}<br>
    {% endif %}
    
    message: {{message}}<br>

    {% if prescription %}
    {{prescription}}
    {% endif %}
    
{% endblock %}


{% block js_section %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">        </script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}