{% extends "DoctorDoctor/base.html" %}
{% load static %}
{% block title_page %}View Appointment{% endblock %}
{% block title %}View Appointment - DoctorDoctor{% endblock %}
{% block title_in_li %}View Appointment{% endblock %}


{% block css_section %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
{% endcomment %}
{% endblock %}


{% block inner_page %}
<form method="POST">

    {% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}


    {% if form.approved_for %}
    <h1>Approve the Appointment!</h1>
    Patient: {{patient}}<br>
    Message: {{message}}{{form.message}}<br>
    Day 1: {{day1}}<br>
    Day 2: {{day2}}<br>
    Day 3: {{day3}}<br>
    Approve appointment date: <u><strong>{{form.approved_for}}</strong></u> at <u><strong>{{form.approved_time}}</strong></u><br>
    <input type="submit" value="Submit" class="appointment-btn" style="border: none;">

    {% elif form.prescription %}
    <h1>See appointmentment details</h1>
    Patient: {{patient}}<br>
    Message: {{message}}{{form.message}}<br>
    Approved appointment date: <u><strong>{{approved_for}}</strong></u> at <u><strong>{{approved_time}}</strong></u><br>
    {{form.prescription}}
    <input type="submit" value="Submit">
    
    {% else %}
    Patient: {{patient}}<br>
    Message: {{message}}{{form.message}}<br>
    Approved appointment date: <u><strong>{{approved_for}}</strong></u> at <u><strong>{{approved_time}}</strong></u><br><br>
    Prescription: <br> {{prescription}}
    {% endif %}
<a href="{% url 'accounts:patient_profile' id=p_id %}">&nbsp;&nbsp;&nbsp;See client history</a>


</form>
{% endblock %}


{% block js_section %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">        </script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}