{% extends "DoctorDoctor/base.html" %}

{% block title_page %}Doctors{% endblock %}
{% block title %}Doctors - DoctorDoctor{% endblock %}
{% block title_in_li %}Doctors{% endblock %}

{% block inner_page %}
<ol>
    {% for i in doctors %}
    <a href="{% url 'accounts:see_public_profile' pk=i.id %}"><li>
        {{i.fullname}}
        <ul>
        <li><small>{% if i.speciality %}Speciality: {{i.speciality}}{% endif %}</small></li>
        <li><small>{% if i.experience_years %}Experience Years: {{i.experience_years}}{% endif %}</small></li>
        <li><small>{% if i.college %}College: {{i.college}}{% endif %}</small></li>
    </ul>
        <hr>
    </li></a>
    {% endfor %}
</ol>
{% endblock %}