{% extends "DoctorDoctor/base.html" %}
{% load profile_tags %}

{% block title_page %}Profile{% endblock %}
{% block title %}Profile - DoctorDoctor{% endblock %}
{% block title_in_li %}Profile{% endblock %}

{% block inner_page %}

<table>
<tr>
<td>Email: </td><td>{{fields.email}}</td>
</tr>
<tr>{% if fields.fullname%} <td>fullname: </td> <td>{{fields.fullname}}{% endif%}</td></tr>
<tr>{% if fields.date_of_birth%} <td>date_of_birth: </td> <td>{{fields.date_of_birth}}{% endif%}</td></tr>
<tr>{% if fields.phone_number%} <td>phone_number: </td> <td>{{fields.phone_number}}{% endif%}</td></tr>
<tr>{% if fields.blood_group%} <td>blood_group: </td> <td>{{fields.blood_group|full_blood_group}}{% endif%}</td></tr>
<tr>{% if fields.allergies%} <td>allergies: </td> <td>{{fields.allergies}}{% endif%}</td></tr>
<tr>{% if fields.marital_status%} <td>marital_status: </td> <td>{{fields.marital_status|full_marital_status}}{% endif%}</td></tr>
<tr>{% if fields.emergency_Name%} <td>emergency_Name: </td> <td>{{fields.emergency_Name}}{% endif%}</td></tr>
<tr>{% if fields.emergency_phone_number%} <td>emergency_phone_number: </td> <td>{{fields.emergency_phone_number}}{% endif%}</td></tr>
<tr>{% if fields.emergency_relationship%} <td>emergency_relationship: </td> <td>{{fields.emergency_relationship}}{% endif%}</td></tr>
<tr>{% if fields.insurance_id%} <td>insurance_id: </td> <td>{{fields.insurance_id}}{% endif%}</td></tr>
<tr>{% if fields.insurance_company%} <td>insurance_company: </td> <td>{{fields.insurance_company}}{% endif%}</td></tr>
<tr>{% if fields.insurance_validity%} <td>insurance_validity: </td> <td>{{fields.insurance_validity}}{% endif%}</td></tr>
<tr>{% if fields.speciality %} <td>speciality: </td> <td>{{fields.speciality}}{% endif %}</td></tr>
<tr>{% if fields.college %} <td>college: </td> <td>{{fields.college}}{% endif %}</td></tr>
<tr>{% if fields.experience_years %} <td>experience_years: </td> <td>{{fields.experience_years}}{% endif %}</td></tr>
</table>

<br><br>
{% if request.user|has_group:"Doctors" %}
<a href="{% url 'accounts:doctor_user_update' %}" class="appointment-btn">Edit</a>
{% else %}
<a href="{% url 'accounts:user_update' %}" class="appointment-btn">Edit</a>
{% endif %}
{% endblock %}