{% extends "DoctorDoctor/base.html" %}
{% load static %}
{% load profile_tags %}

{% block title_page %}Update Profile{% endblock %}
{% block title %}Update Profile - DoctorDoctor{% endblock %}
{% block title_in_li %}Update Profile{% endblock %}

{% block css_section %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
{% endcomment %}
{% endblock %}
{% block inner_page %}
<form method="POST">
    {% csrf_token %}{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
    
    <table>
    {% if user.is_doctor %}
        <tr><td>fullname:</td><td> {{form.fullname}}<br></td></tr>
        <tr><td>date_of_birth:</td><td> {{form.date_of_birth}}<br></td></tr>
        <tr><td>speciality:</td><td> {{form.speciality}}<br></td></tr>
        <tr><td>college:</td><td> {{form.college}}<br></td></tr>
        <tr><td>experience_years:</td><td> {{form.experience_years}}<br></td></tr>
    {% else %}
        <tr><td>Allergies:</td><td> {{form.allergies}}<br></td></tr>
        <tr><td>fullname:</td><td> {{form.fullname}}<br></td></tr>
        <tr><td>date_of_birth:</td><td> {{form.date_of_birth}}<br></td></tr>
        <tr><td>phone_number:</td><td> {{form.phone_number}}<br></td></tr>
        <tr><td>blood_group:</td><td> {{form.blood_group}}<br></td></tr>
        <tr><td>marital_status:</td><td> {{form.marital_status}}<br></td></tr>
        <tr><td>emergency_Name:</td><td> {{form.emergency_Name}}<br></td></tr>
        <tr><td>emergency_phone_number:</td><td> {{form.emergency_phone_number}}<br></td></tr>
        <tr><td>emergency_relationship:</td><td> {{form.emergency_relationship}}<br></td></tr>
        <tr><td>insurance_id:</td><td> {{form.insurance_id}}<br></td></tr>
        <tr><td>insurance_company:</td><td> {{form.insurance_company}}<br></td></tr>
        <tr><td>insurance_validity:</td><td> {{form.insurance_validity}}<br></td></tr>
    {% endif %}
    </table>
    <input type="submit" value="Submit">
</form>
<br>
{% if request.user|has_group:"Doctors" %}
<a href="{% url 'accounts:see_public_profile' %}" class="appointment-btn">Cancel/a>
{% else %}
<a href="{% url 'accounts:profile' %}" class="appointment-btn">Cancel</a>
{% endif %}

{% endblock %}
{% block js_section %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">        </script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}