{% extends "DoctorDoctor/base.html" %}
{% load profile_tags %}

{% block title_page %}Profile{% endblock %}
{% block title %}Profile - DoctorDoctor{% endblock %}
{% block title_in_li %}Profile{% endblock %}

{% block inner_page %}

{% if user.name %}<br>Name: {{fields.name}}{% endif %}
Email: {{fields.email}}
{% if fields.fullname%}<br>fullname: {{fields.fullname}}{% endif%}
{% if fields.date_of_birth%}<br>date_of_birth: {{fields.date_of_birth}}{% endif%}
{% if fields.phone_number%}<br>phone_number: {{fields.phone_number}}{% endif%}
{% if fields.blood_group%}<br>blood_group: {{fields.blood_group|full_blood_group}}{% endif%}
{% if fields.allergies%}<br>allergies: {{fields.allergies}}{% endif%}
{% if fields.marital_status%}<br>marital_status: {{fields.marital_status|full_marital_status}}{% endif%}
{% if fields.emergency_Name%}<br>emergency_Name: {{fields.emergency_Name}}{% endif%}
{% if fields.emergency_phone_number%}<br>emergency_phone_number: {{fields.emergency_phone_number}}{% endif%}
{% if fields.emergency_relationship%}<br>emergency_relationship: {{fields.emergency_relationship}}{% endif%}
{% if fields.insurance_id%}<br>insurance_id: {{fields.insurance_id}}{% endif%}
{% if fields.insurance_company%}<br>insurance_company: {{fields.insurance_company}}{% endif%}
{% if fields.insurance_validity%}<br>insurance_validity: {{fields.insurance_validity}}{% endif%}
{% if fields.speciality %}<br>speciality: {{fields.speciality}}{% endif %}
{% if fields.college %}<br>college: {{fields.college}}{% endif %}
{% if fields.experience_years %}<br>experience_years: {{fields.experience_years}}{% endif %}

<br><a href="{% url 'list_doctors' %}">&lt;&lt; List of doctors</a>
<br><a href="{% url 'accounts:make_appointment' id=fields.id %}">&gt;&gt; Make an appointment {%if fields.fullname %} with {{fields.fullname}}{% endif %}</a>
<br><br>
{% endblock %}