{% extends "DoctorDoctor/base.html" %}
{% load profile_tags %}

{% block title_page %}Profile{% endblock %}
{% block title %}Profile - DoctorDoctor{% endblock %}
{% block title_in_li %}Profile{% endblock %}

{% block inner_page %}
<table>
<tr>{% if user.name %}<td>>Name:</td> <td>{{fields.name}}{% endif %}</td></tr>
<tr><td>Email:</td><td> {{fields.email}}</td></tr>
<tr>{% if fields.fullname%}<td>Fullname:</td><td> {{fields.fullname}}{% endif%}</td></tr>
<tr>{% if fields.date_of_birth%}<td>Date of birth:</td><td> {{fields.date_of_birth}}{% endif%}</td></tr>
<tr>{% if fields.phone_number%}<td>Phone number:</td><td> {{fields.phone_number}}{% endif%}</td></tr>
<tr>{% if fields.blood_group%}<td>Blood group:</td><td> {{fields.blood_group|full_blood_group}}{% endif%}</td></tr>
<tr>{% if fields.allergies%}<td>Allergies:</td><td> {{fields.allergies}}{% endif%}</td></tr>
<tr>{% if fields.marital_status%}<td>Marital Status:</td><td> {{fields.marital_status|full_marital_status}}{% endif%}</td></tr>
<tr>{% if fields.emergency_Name%}<td>Emergency Name:</td><td> {{fields.emergency_Name}}{% endif%}</td></tr>
<tr>{% if fields.emergency_phone_number%}<td>Emergency phone number:</td><td> {{fields.emergency_phone_number}}{% endif%}</td></tr>
<tr>{% if fields.emergency_relationship%}<td>Emergency relationship:</td><td> {{fields.emergency_relationship}}{% endif%}</td></tr>
<tr>{% if fields.insurance_id%}<td>Insurance id:</td><td> {{fields.insurance_id}}{% endif%}</td></tr>
<tr>{% if fields.insurance_company%}<td>Insurance company:</td><td> {{fields.insurance_company}}{% endif%}</td></tr>
<tr>{% if fields.insurance_validity%}<td>Insurance validity:</td><td> {{fields.insurance_validity}}{% endif%}</td></tr>
<tr>{% if fields.speciality %}<td>Speciality:</td><td> {{fields.speciality}}{% endif %}</td></tr>
<tr>{% if fields.college %}<td>College:</td><td> {{fields.college}}{% endif %}</td></tr>
<tr>{% if fields.experience_years %}<td>Experience years:</td><td> {{fields.experience_years}}{% endif %}</td></tr>
</table>
<br>
<a href="{% url 'list_doctors' %}" class="appointment-btn">&lt;&lt; List of doctors</a>
<a href="{% url 'accounts:make_appointment' id=fields.id %}" class="appointment-btn">Make an appointment {%if fields.fullname %} with {{fields.fullname}}{% endif %} &gt;&gt;</a>
<br><br>
{% endblock %}